body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  text-align: start;
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0.7rem;
  background-color: #0E76FD;
  color: white;
  cursor: pointer;
}

button:hover {
  scale: 110%;
  transition: scale 0.4s;
}

.navbuttons {
  display: inline-block;
  padding-right: 15px;
  a {
    text-decoration-line: none;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    padding: 0.5rem;
  }
  input {
    padding: 0.25rem;
  }

  textarea {
    width: 50em;
    height: 5em;
  }

  label.description {
    display: block;
  }
}

.welcome {
  display: flex;
  flex-direction: row;
  text-align: start;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.connectbutton {
  margin-top: 20px;
  margin-left: 50px;
  width: 100%;
}