body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  text-align: start;
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0.7rem;
  background-color: #0E76FD;
  color: white;
  cursor: pointer;
}

button:hover {
  scale: 110%;
  transition: scale 0.4s;
}

.navbuttons {
  display: inline-block;
  padding-right: 15px;
  a {
    text-decoration-line: none;
  }
}